body{
	margin:0;
	background:#af5539 url(../images/bg-body.png) repeat-x 50% 0;
	
	font:12px/30px Helvetica, Arial, sans-serif;
	color:#919191;
	min-width:1000px;
}
a{
	text-decoration:none;
	color:#438ae4;
}
a:hover{
	text-decoration:underline;
}
img{
	border:0;
}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
.w1{
	margin:140px auto;
	width:442px;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	width: 442px;
	height: 230px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 auto -88px;
	position:relative;
}
.logo a{
	display:block;
	width: 342px;
	height: 100px;
	margin:50px 50px 80px;
}
.form-info{
	background:url(../images/bg-form-b.png) no-repeat 14px 100%;
	padding:0 0 118px;
	width:442px;
	margin:0 0 -10px;
}
.form-info .holder{
	background:url(../images/bg-form-t.png) no-repeat;
	padding:436px 0 0;
}
.form-info .frame{
	background:url(../images/bg-form.png) repeat-y;
	padding:0 52px 0 51px;
}
.form-info .frame:after {
	clear: both;
	content:"";
	display: block;
}
.container{
	float:left;
	width:100%;
	margin:-379px 0 -110px;
}
.form-info h2{
	margin:0 1px 23px 0;
	font-size:22px;
	line-height:24px;
	color:#464646;
	border-bottom:1px solid #e4e4e4;
	padding:0 0 14px;
}
.form-info h2 span{
	display:block;
	font-size:14px;
	color:#919191;
	font-weight:normal;
}
.rows-holder{
	width:100%;
	padding-bottom:4px;
}
.rows-holder:after {
	clear: both;
	content:"";
	display: block;
}
.row{
	padding:0 0 1px;
	margin:0 0 19px;
	width:100%;
}
.row:after {
	clear: both;
	content:"";
	display: block;
}
.form-info label{
	display:block;
	line-height:22px;
	margin:0 0 3px 2px;
}
.form-info .text{
	background:url(../images/bg-inp.png) no-repeat;
	width: 333px;
	height: 49px;
	margin:0 0 0 1px;
	padding:0 2px;
	position:relative;
}
.form-info .parent-focus{
	background:url(../images/bg-inp-focus.png) no-repeat;
	width: 335px;
	height: 51px;
	margin:-2px 1px 0 0;
}
.form-info .text input{
	width: 307px;
	padding:14px 13px 13px;
	color:#989898;
	font-size:18px;
	line-height:21px;
	height:22px;
	border:none;
	background:none;
	display:block;
}
.form-info .parent-focus input{
	padding:16px 14px 11px;
	width:305px;
}
.btn-submit{
	display:block;
	background:url(../images/btn-submit.png) no-repeat;
	width: 338px;
	height: 62px;
	padding:14px 0 27px;
	border:none;
	color:#5d7731;
	font-weight:bold;
	font-size:18px;
	line-height:24px;
	text-shadow:0 1px 1px rgba(255,255,255,.4);
	overflow:visible;
}
.opera9 .btn-submit { padding:17px 0 24px; }
.opera10 .btn-submit { padding:17px 0 24px; }
.opera11 .btn-submit { padding:17px 0 24px; }
.btn-submit:hover{
	cursor:pointer;
}
.message{
	position:absolute;
	top:16px;
	left:-90px;
	width:530px;
	font-size:15px;
	color:#e6e6e6;
	display:none;
}
.message img{
	float:left;
	margin:0 10px 0 0;
}
.message .text-holder{
	overflow:hidden;
	padding:18px 0 0;
}
.message .text-holder strong{
	display:block;
	font-size:36px;
	line-height:40px;
	color:#000;
}
.message p{
	margin:0;
}
#footer{
	text-align:center;
	color:#fff;
	overflow:hidden;
}
#footer p{
	margin:0;
}
#footer a{
	color:#fff;
}

#thankyou {
	overflow: hidden;
	margin-top:20px;
	height: 200px;
}

#thankyou > img {
	float:left; 
	margin-left: -20px;
}

#thankyou > * {
	color: white;
}